$camera: 22px 17px;
$comment: 19px 21px;
$heart: 15px 13px;
$in: 20px 18.2px;
$logo: 114px 16px;
$out: 18px 17px;
$pencil: 12px 17px;
$play: 20px 20px;
$rcomment: 14px 14px;
$star: 15px 14px;
$toy: 22px 22px;
$upload: 14px 14px;
